<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IIW2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Form</display-name>
    <servlet-name>Form</servlet-name>
    <servlet-class>com.iiw.controller.Form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/Form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WrapperTest</display-name>
    <servlet-name>WrapperTest</servlet-name>
    <servlet-class>com.iiw.controller.WrapperTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrapperTest</servlet-name>
    <url-pattern>/WrapperTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>USNWrapper</display-name>
    <servlet-name>USNWrapper</servlet-name>
    <servlet-class>com.iiw.controller.USNWrapper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USNWrapper</servlet-name>
    <url-pattern>/USNWrapper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.iiw.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edulixer</display-name>
    <servlet-name>Edulixer</servlet-name>
    <servlet-class>com.iiw.controller.Edulixer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edulixer</servlet-name>
    <url-pattern>/Edulixer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Analytix</display-name>
    <servlet-name>Analytix</servlet-name>
    <servlet-class>com.iiw.controller.Analytix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Analytix</servlet-name>
    <url-pattern>/Analytix</url-pattern>
  </servlet-mapping>
</web-app>